atomicwrites==1.2.1
attrs==18.2.0
bleach==3.0.0
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
cmarkgfm==0.4.2
docutils==0.14
future==0.16.0
idna==2.7
more-itertools==4.3.0
pkginfo==1.4.2
pluggy==0.7.1
py==1.6.0
pycparser==2.19
Pygments==2.2.0
pytest==3.8.2
readme-renderer==22.0
requests==2.19.1
requests-toolbelt==0.8.0
six==1.11.0
tqdm==4.26.0
twine==1.12.1
urllib3==1.23
webencodings==0.5.1
